* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Boogaloo', cursive;
}

:root {
  --skyBlue: rgb(79, 185, 255);
}

body {
  height: 100vh;
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url(image/memory.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.start__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5em;
}

.start__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-right: .1em;
  color: #4fb9ff;
  font-size: 4.5em;
  text-shadow: .05em .05em .05em  black;
}

.start__title {
  color: var(--skyBlue);
  font-size: 4.5em;
  text-shadow: .05em .05em .05em  black;
}

.start__button {
  width: 30%;
  border-radius: .7em;
  border: none;
  font-size: 2em;
  padding: .2em;
  line-height: 1;
  background-color: var(--skyBlue);
  -webkit-box-shadow: .05em .05em .1em .02em black;
          box-shadow: .05em .05em .1em .02em black;
}

.start__best-score {
  position: absolute;
  bottom: .5em;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: var(--skyBlue);
  font-size: 1.5em;
  margin-top: 1.5em;
  text-shadow: .05em .05em .1em  black;
  background-color: rgba(0, 105, 243, 0.603);
  padding: 0 .2em;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url(image/memory.jpg);
  background-size: cover;
  background-position: center;
  z-index: 2;
}

.board {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: .2em;
  width: 90vh;
  height: 90vh;
}

.board__square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.board__front-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: black;
  border: .05em solid white;
  border-radius: .2em;
  font-size: 3em;
  color: white;
  z-index: 1;
  cursor: pointer;
}

.board__back-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: inset 0 0 .2em .1em black;
          box-shadow: inset 0 0 .2em .1em black;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-position: center;
  background-size: cover;
  border-radius: .5em;
  z-index: -1;
}

.end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #171717;
  z-index: 3;
}

.end__score {
  font-size: 5em;
  color: var(--skyBlue);
}

.back--transform {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  z-index: 1;
}

.front--transform {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media (min-width: 700px) {
  html {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 1.8rem;
  }
}

@media (orientation: portrait) {
  .start {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2em 0;
  }
  .start__title {
    font-size: 6.5em;
  }
  .start__icon {
    display: none;
    font-size: 8em;
  }
  .start__button {
    width: 70%;
    font-size: 2em;
    padding: .4em 0;
  }
  .start__best-score {
    position: static;
    -webkit-transform: none;
            transform: none;
    text-align: center;
    font-size: 1.8em;
    width: 90%;
  }
  .board {
    width: 90vw;
    height: 90vw;
  }
}

@media (min-width: 360px) and (orientation: portrait) {
  html {
    font-size: 1.1rem;
  }
}

@media (min-width: 400px) and (orientation: portrait) {
  html {
    font-size: 1.3rem;
  }
}

@media (min-width: 480px) and (orientation: portrait) {
  html {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  html {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  html {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */